// colores background //

$hero__background--color:#639de5;
$button__background--color:#2cb46a;
$header__background-color:black;
//color font hero//
$hero__font--color: white;
//fuentes//
$font_family: 'Roboto', sans-serif;