
    <section class="hero">
      <h1>Prueba Premium gratis 3 meses</h1>
      <p>Escucha millones de canciones sin anuncios, a la carta y sin conexión.</p>
     <div class="button">
      <a href="#">ver planes</a>
     </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus corporis.</p>
    </section>
    <section class="container">
      <h2>¿Por qué pasarte a Premium?</h2>
      <article class="container_article">
        <load src="/partials/main_article.html" img="../img/benefit-1.png" causas="Descarga música." title="Descarga música." desc="Llévala siempre contigo."/>
      </article>
      <article>
        <load src="/partials/main_article.html" img="../img/benefit-2.png" causas="Sin anuncios." title="Sin anuncios." desc="Disfruta de la música sin interrupciones."/>
      </article>
      <article>
        <load src="/partials/main_article.html" img="../img/benefit-3.png" causas="Escucha lo que quieras." title="Escucha lo que quieras." desc="Incluso en el móvil."/>
      </article>
      <article>
        <load src="/partials/main_article.html" img="../img/benefit-4.png" causas="Salta todas las canciones que quieras." title="Salta todas las canciones que quieras." desc="Siempre dale a la siguiente."/>
      </article>
      <!--<article>
        <figure>
          <img src="#" alt="Sin anuncios">
        </figure>
        <h3>Sin anuncios.</h3>
        <p>Disfruta de música sin interrupciones.</p>
      </article>
      <article>
        <figure>
          <img src="#" alt="Escucha lo que quieras">
        </figure>
        <h3>Escucha lo que quieras</h3>
        <p>Incluso en el móvil</p>
      </article>
      <article>
        <figure>
          <img src="#" alt="Salta todas las canciones">
        </figure>
        <h3>Salta todas las canciones que quieras</h3>
        <p>Simplemente dale a siguiente.</p>
      </article>-->
    </section>
